---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Cantarell", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     2px;

$text-color:       #fff;
$background-color: #fdfdfd;
$brand-color:      #4a86cf;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$variant: 'light';
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "colors",
        "base",
        "layout",
        "syntax-highlighting"
;

@keyframes tickit {
  0% { stroke-dashoffset: -103; }
  100% { stroke-dashoffset: 0; }
}

@keyframes transformpulse {
  0% { transform: scale(1); }
  50% { transform: scale(.9); }
  60% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes fademove {
  0% { margin-top: -20px; opacity: 0; }
  100% { margin-top: 0; opacity: 1; }
}

#initial-setup-dialog {
   position: relative;
   width: 820px;
   height: 650px;
   margin: 0; padding: 0;
   background: transparent url(../img/initial-setup.svg) no-repeat 0 -8px;
   flex-shrink: 0;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   box-shadow: 0 2px 2px rgba(0,0,0,0.4), 0 2px 16px rgba(0,0,0,0.3);
   
   .dialogwrap {

    height: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-direction: column;
   }
   
   h1 {
   }
   svg {
    margin-top: 148px;
    animation-name: transformpulse;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation-direction: forwards;
    
    
    
    #checkmark {
      stroke-dashoffset: -103;
      stroke-dasharray: 103;
      animation-name: tickit;
      animation-delay: .3s;
      animation-duration: .3s;
      animation-timing-function: linear;
      animation-direction: forwards;
      animation-fill-mode: forwards;
    }
   }

   .floating-icon {
    position: absolute;
    z-index: 2;
    opacity: 0;
    animation-name: fademove;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation-direction: forwards;
    animation-fill-mode: forwards;
   }

   #games { top: 172px; left: 148px; animation-delay: 0; }
   #gcolor { top: 60px; right: 62px; animation-delay: 300ms; }
   #podcasts { top: 42px; left: 22px; animation-delay: 1s; }
   
   .spacer {
    height: 280px;
   }
   .bg {
    position: absolute;
    top: 48px;
    left: 1px;
    right: 1px;
    height: 200px;
    background: url(../img/adwaita.jpg) no-repeat center;
    background-size: cover;
   }
   
   a.button {
    display: block;
    margin: auto;
    background-color: red;
    background-color: $selected_bg_color;
    color: $selected_fg_color;
    border-radius: 5px;
    border: 1px solid darken($selected_bg_color,20%);
    padding: 1em 2em;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
   }
}
