---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Cantarell", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$variant: 'light';
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "colors"
;

@keyframes tickit {
  0% { stroke-dashoffset: -103 !important; }
  100% { stroke-dashoffset: -206 !important; }
}

@keyframes transformpulse {
  0% { transform: scale(1); }
  70% { transform: scale(.9); }
  80% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

#initial-setup-dialog {

   width: 820px;
   height: 650px;
   margin: 0; padding: 0;
   background: transparent url(/img/initial-setup.svg) no-repeat center;
   flex-shrink: 0;
   
   .dialogwrap {

    height: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-direction: column;
   }
   
   h1 {
   }
   svg {
    margin-top: 148px;
    animation-name: transformpulse;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation-direction: forwards;
    
    
    
    #checkmark {
      stroke-dashoffset: -103 !important;
      stroke-dasharray: 103 !important;
      animation-name: tickit;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
      animation-direction: forwards;
    }
   }

   
   a.button {
    display: block;
    margin: auto;
    background-color: red;
    background-color: $selected_bg_color;
    color: $selected_fg_color;
    border-radius: 5px;
    border: 1px solid darken($selected_bg_color,20%);
    padding: 1em 2em;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
   }
}
