// lockscreen

// login
.login {
	width: 400px;
	height: 400px;
	display: block;
	margin: 0 auto;
	margin-top: calc(25% - 200px);
	// background: red;
	text-align: center;

	* {
		display: block;
		float: none;
		margin: 0 auto;
	}
	.avatar {
		display: block;
		margin: 0 auto;
	}

	h2 {
		color:white;
		font-family:"cantarell", sans-serif;
		font-weight: 200;
		font-size: $font_size + 12px;
		margin: 12px auto;
		text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	}

	input {
	}
}