// changing width and height will scale all aspects of the switch
$switch_width: 58px;
$switch_height: 26px;

$switch_margin: 12px;
$switch_font_size: 11px;
$switch_font_margin: 8px;

$switch_padding: 4px;
$switch_border_radius: 18px;

$switch_slider_width: 20px;
$switch_slider_height: 20px;
$switch_slider_margin: 3px;

$switch_slider_border_radius: $switch_border_radius;

$switch_nolabel_width: $switch_width - 20px;

$switch_transition: all 100ms $ease-out-quad;


%switch_font {
	font-size: $switch_font_size;
	font-family:"cantarell_bold", sans-serif;
	// font-family:sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

// Switch
.switch {
	background-color: transparent;
	border-radius: $switch_border_radius;
	cursor: pointer;
	display: inline-block;
	height: $switch_height;
	padding: $switch_padding !important;
	position: relative;
	width: $switch_width;

	// Trough
	.switch-trough {
		@extend %switch_font;
		background-color: $dark_fill;
		border-radius: $switch_border_radius;
		// draw border with box-shadow
		box-shadow: inset 0 0 0 1px $borders_color; 
		color: transparentize($fg_color, 0.4);
		display: block;
		height: inherit;
		position: relative;
		text-shadow: none;
		padding: 0 !important;

		// for the animation
		transition: $switch_transition;
		transition-property: opacity background;

		// the switch text
		&:before,
		&:after {
			position: absolute;
			line-height: $switch_height;
			transition: inherit;
		}

		// "off" text
		&:before {
			// content: attr(data-off-intl);
			content: attr(data-off);
			right: $switch_font_margin;
			color: inherit;
		}

		// "on" text
		&:after {
			// content: attr(data-on-intl);
			content: attr(data-on);
			left: $switch_font_margin;
			color: inherit;
			opacity: 0;
		}
	}

	// Slider
	.switch-slider {
		position: absolute;
		padding:0 !important;
		top: $switch_padding;
		left: $switch_padding;
		width: $switch_slider_width;
		height: $switch_slider_height;
		border-radius: $switch_slider_border_radius;
		// border: 1px solid $borders_color;
		transition: $switch_transition;
		margin: $switch_slider_margin;

		@include button(normal-alt, $edge: $shadow_color);

		&:hover { 
			@include button(hover-alt, $edge: $shadow_color); 
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
		}

		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
	}


	// the styled checkbox
	.switch-input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;

		// Checked
		&:checked ~ .switch-trough {
			color: $selected_fg_color;
			// draw border with box-shadow
			box-shadow: inset 0 0 0 1px $selected_borders_color; 
			background-color: $selected_bg_color;
			text-shadow: 0 0 2px transparentize(white, 0.4);

			&:before {opacity: 0;}
			&:after {opacity: 1;}
		}

		&:checked ~ .switch-slider {
			// full width - slider width - border width - margin * 2
			left: $switch_width - ($switch_slider_width - 2px) - ($switch_slider_margin * 2) + 2px;
		}
	}

	// intl switch
	&.intl>.switch-trough{

		// "off" text
		&:before {
			content: attr(data-off-intl);
		}

		// "on" text
		&:after {
			content: attr(data-on-intl);
			font-size: $switch_font_size + 1px;
		}
	}
}