.content {
  display: grid;
  grid-template-columns: fit-content(270px) 1fr;
  grid-gap: 0; }

.banner {
  padding: 0;
  background-color: grey;
  background: no-repeat center center;
  background-size: fill;
  border-radius: 4px;
  width: 98%;
  margin: 12px auto;
  height: 192px; }

.featured {
  padding: 0;
  background-color: grey;
  background: no-repeat center center;
  background-size: 100%;
  height: 192px; }
  .featured div {
    display: block;
    vertical-align: middle;
    float: right;
    max-width: 200px;
    margin: 24px; }
    .featured div * {
      color: white;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }

/* Don't wanna mess up the styles above, starting from scratch ;) */
.container {
  max-width: 1024px;
  margin: auto;
  padding: 16px; }

.featured-splash {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 12px; }

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 12px; }
  .category-grid .cat {
    position: relative;
    padding: 12px 12px 12px 36px; }
    .category-grid .cat img {
      position: absolute;
      left: 12px;
      top: 14px;
      opacity: 0.5;
      transition: all 100ms ease-in-out; }
    .category-grid .cat:hover img {
      opacity: 1; }

.featured-grid {
  display: grid;
  grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr);
  grid-gap: 12px; }
  .featured-grid .banner {
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; }
    .featured-grid .banner .stripe {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 80px;
      background-color: rgba(255, 255, 255, 0.9);
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: flex-start;
      padding: 12px; }
      .featured-grid .banner .stripe * {
        margin: 12px; }
      .featured-grid .banner .stripe img {
        display: block;
        width: 64px;
        height: 64px;
        filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4)) drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1)); }

.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  grid-gap: 12px;
  overflow: hidden;
  max-height: 180px; }
  .app-grid .app {
    display: flex;
    min-height: 140px;
    flex-direction: column;
    align-items: center;
    padding: 12px; }
    .app-grid .app .title {
      margin: 0.2em 0;
      color: #454f52; }
    .app-grid .app img {
      display: block;
      width: 64px;
      height: 64px;
      filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4)) drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
      margin: 6px; }
    .app-grid .app description {
      text-align: center; }

.category-grid .cat, .featured-grid .banner, .app-grid .app {
  background-color: #ffffff;
  margin: 2px;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  transition: all 200ms ease-in-out; }
  .category-grid .cat:hover, .featured-grid .banner:hover, .app-grid .app:hover, .category-grid .cat:focus, .featured-grid .banner:focus, .app-grid .app:focus {
    border: 2px solid #3584e4;
    cursor: pointer; }
  .category-grid .cat:active, .featured-grid .banner:active, .app-grid .app:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #c8c2bc;
    border: 2px solid #cdc7c2; }

/*# sourceMappingURL=software.css.map */
