.content {
  display: grid;
  grid-template-columns: fit-content(270px) 1fr;
  grid-gap: 0; }

.banner {
  padding: 0;
  background-color: grey;
  background: no-repeat center center;
  background-size: fill;
  border-radius: 4px;
  width: 98%;
  margin: 12px auto;
  height: 192px; }

.featured {
  padding: 0;
  background-color: grey;
  background: no-repeat center center;
  background-size: 100%;
  height: 192px; }
  .featured div {
    display: block;
    vertical-align: middle;
    float: right;
    max-width: 200px;
    margin: 24px; }
    .featured div * {
      color: white;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }

/* Don't wanna mess up the styles above, starting from scratch ;) */
.container {
  max-width: 1024px;
  margin: auto;
  padding: 16px; }

.featured-splash {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 12px; }

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 12px; }
  .category-grid .cat {
    position: relative;
    padding: 12px 12px 12px 36px; }
    .category-grid .cat img {
      position: absolute;
      left: 12px;
      top: 14px;
      opacity: 0.5; }

.featured-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 12px; }
  .featured-grid .banneryea {
    min-height: 180px;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 2px solid #ffffff; }
    .featured-grid .banneryea .stripe {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 74px;
      background-color: rgba(255, 255, 255, 0.9);
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      align-content: flex-start;
      padding: 6px;
      overflow: hidden; }
      .featured-grid .banneryea .stripe * {
        margin: 6px; }
      .featured-grid .banneryea .stripe img {
        display: block;
        width: 64px;
        height: 64px;
        filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4)) drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1)); }
      .featured-grid .banneryea .stripe description {
        display: block; }

@media only screen and (max-width: 600px) {
  .featured-grid .banneryea .stripe description,
  .featured-grid .banneryea .stripe img {
    display: none; }

  .featured-grid .banneryea .stripe {
    height: 48px;
    align-items: flex-end; }

  .featured-grid .banneryea .stripe .title {
    font-size: 120%;
    font-weight: normal; } }
.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  grid-gap: 12px;
  overflow: hidden;
  max-height: 168px; }
  .app-grid .app {
    display: flex;
    min-height: 110px;
    flex-direction: column;
    align-items: center;
    padding: 12px; }
    .app-grid .app .title {
      margin: 0.2em 0;
      color: #454f52; }
    .app-grid .app img {
      display: block;
      width: 64px;
      height: 64px;
      filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4)) drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
      margin: 6px; }
    .app-grid .app description {
      text-align: center; }

.category-grid .cat, .featured-grid .banneryea, .app-grid .app {
  background-color: #ffffff;
  margin: 3px;
  /* border: 2px solid $base_color; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  transition: all 100ms ease-in-out; }
  .category-grid .cat:hover, .featured-grid .banneryea:hover, .app-grid .app:hover, .category-grid .cat:focus, .featured-grid .banneryea:focus, .app-grid .app:focus {
    /* border: 2px solid $selected_bg_color; */
    box-shadow: 0 1px 3px #1b6acb;
    cursor: pointer; }
  .category-grid .cat:active, .featured-grid .banneryea:active, .app-grid .app:active {
    box-shadow: none;
    background-color: #dfdcd8; }

.rating {
  margin-top: 6px; }

.starempty {
  background-image: url("../../../img/icons/symbolic/star-thin-symbolic.svg"); }

.starfull {
  background-image: url("../../../img/icons/symbolic/star-filled-symbolic.svg"); }

.starempty, .starfull {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  opacity: 0.3; }

/*# sourceMappingURL=software.css.map */
