// wallpapers
.stripes {
	background-image: url(../../img/wallpapers/Stripes.jpg) !important; 
	-moz-transition: background-image 1s ease-in-out;
	transition: background-image 1s ease-in-out;
	overflow-y: hidden;
}
.wool {
	background-image: url(../../img/wallpapers/login.png) !important; 
	-moz-transition: background-image 1s ease-in-out;
	transition: background-image 1s ease-in-out;
	overflow-y: hidden;
}
.adwaita {
	background-image: url(../../img/wallpapers/Adwaita.jpg) !important; 
	-moz-transition: background-image 1s ease-in-out;
	transition: background-image 1s ease-in-out;
	overflow-y: hidden;
}
.triangles {
	background-image: url(../../img/wallpapers/Triangles.jpg) !important; 
	-moz-transition: background-image 1s ease-in-out;
	transition: background-image 1s ease-in-out;
	overflow-y: hidden;
}
.flowerbed {
	background-image: url(../../img/wallpapers/Flowerbed.jpg) !important; 
	-moz-transition: background-image 1s ease-in-out;
	transition: background-image 1s ease-in-out;
	overflow-y: hidden;
}
.road {
	background-image: url(../../img/wallpapers/Road.jpg) !important; 
	-moz-transition: background-image 1s ease-in-out;
	transition: background-image 1s ease-in-out;
	overflow-y: hidden;
}