$dashboard_corner_radius:9px;
$dashboard_border_color: $_bubble_borders_color;


// dash icons
%icon_tile {
	color: $osd_fg_color;
	border-radius: 4px;
	padding: 6px;
	border: 1px solid transparent;
	transition-duration: 100ms;
	text-align: center;
}

 // dash
#dash {
	// remove ul stuff
	list-style: none;
	margin: 0;

	// bg
	font-size: 9pt;
	color: $_bubble_fg_color;
	background-color: $_bubble_bg_color;
	padding: 4px;
	border: 1px solid $_bubble_borders_color;
	border-left: 0px;
	border-radius: 0px $dashboard_corner_radius $dashboard_corner_radius 0px;
	
	// position
	position: fixed;
	left: 0;
	top: 15%;

	// dash icons
	li {
		@extend %icon_tile;
		display: block;
		margin: 4px;
		margin-bottom: 8px;

		&:hover {
			background-color: transparentize($osd_fg_color,.9);
			transition-duration: 200ms;
		}

		// background-color: red; // debug
		&:last-child {
			margin-bottom: 4px;
		}
	}
}

.dash-label { //osd tooltip
	border-radius: 7px;
	padding: 4px 12px;
	color: $osd_fg_color;
	background-color: transparentize($osd_bg_color,0.3);
	text-align: center;
	-x-offset: 8px;
}

#appGridLauncher.pressed { background-color: transparentize(darken($osd_bg_color,10%),.1); }