$popover_width: 228px;
$popover_padding: 12px;
$popover_margin: $popover_padding;
$popover_arrow_height: 12px;
$popover_arrow_width: 24px;
$popover_border_radius: 6px;

$panel_height: 26px;


.popup-menu {
	margin-top: $panel_height + 12px;
	display: block;

	&.center{
		width: 768px;
	}

	background-color: darken($bg_color,2%);
	box-shadow: inset 0 0 0 1px lighten($borders_color,5%);
	border-radius: $popover_border_radius;

	.popup-menu-content {
		padding: $popover_padding 0em;
		width: calc(100% - #{$popover_padding} * 2);
	}

	.popup-menu-item {
		padding: .4em 1.75em .4em 0em;
		&:checked {
			background-color: darken($bg_color,2%);
			box-shadow: inset 0 1px 0px lighten($borders_color,5%);
			font-weight: bold;
		}

		&.selected { background-color: transparentize($fg_color,0.9); color: $fg_color; }
		&:active { background-color: $selected_bg_color; color: $selected_fg_color; }
		&:insensitive { color: transparentize($fg_color,.5); }
	}

	.popup-inactive-menu-item { //all icons and other graphical elements
		color: $fg_color;
		&:insensitive { color: transparentize($fg_color,0.5); }
	}

	// popover arrow
	> .arrow,
	> .arrow:after {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
	}

	> .arrow {
		border-width: $popover_padding;
		left: 50%;
		margin-left: $popover_margin * -1;
		border-top-width: 0;
		border-bottom-color: $borders_color;
		top: $popover_margin * -1;
		border-bottom-color: darken($bg_color,2%);
	}

	> .arrow:after {
		border-width: $popover_margin;
		top: 1px;
		margin-left: $popover_margin * -1;
		border-top-width: 0;
		border-top-color: darken($bg_color,2%);
	}
}



.popup-menu-ornament {
	text-align: right;
	width: 1.2em;
}

.popup-separator-menu-item {
	//-margin-horizontal: 24px;
	height: 1px; //not really the whole box
	margin: 6px 64px;
	background-color: transparent;
	border-color: lighten($borders_color,10%);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}