// Cantarell

@font-face {
	font-family: "cantarell";
	src: url(../../fonts/Cantarell-Regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "cantarell_italic";
	src: url(../../fonts/Cantarell-Oblique.otf);
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: "cantarell_bold";
	src: url(../../fonts/Cantarell-Bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "cantarell_bold_italic";
	src: url(../../fonts/Cantarell-BoldOblique.otf);
	font-weight: bold;
	font-style: italic;
}